/*Reset selector*/
* {
  margin: 0;
  padding: 0;
}

html {
   font-family: sans-serif;
   background-color: #4c4c4c;
}

body {
  width: 95%;
  background-color: white;
  border: 2px solid black;
  margin: 0 auto;
  min-width: 625px;
} 

header {
  border-bottom: 2px solid black;
  padding: 1em;
  position: relative;
  background-color: lemonchiffon;
}

header h2 {
  font-size: 175%;
}

header h3 {
  font-style: italic;
}

header h2 a {
  text-decoration: none;
  color: black;
}

header h2 a:hover, header h2 a:focus {
  text-decoration: none;
  color: grey;
}

header h2 a:visited {
  color: black;
}

header .hotbar a {
  float: right;
  max-height: 8%;
  max-width: 8%;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .25em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.hotbar {
  position: absolute;
  right: 10px;
  top: 0;
  max-height: 100%;
  max-width: 100%;
}

header .hotbar img {
  float: right;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: .25em;
}

nav {
  height: 50px;
}

nav ul {
  list-style-type: none;
  position: relative;
  width: 100%;
}

nav ul li {
  float: left;
  width: 20%;
  max-height: 50px;
}

nav ul li a {
  display: block;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1em 0;
}

nav ul li a:hover, nav ul li a:focus {
  background-color: grey;
  color: white;
}

nav a:visited {
  color: white;
}

nav ul li:hover > .within {
  display: block;
}

.within {
  display: none;
  position: absolute;
}

.within li {
  float: none;
}

#leftside {
  padding: 1em;
  float: left;
  min-height: 100%;
  width: 19.932%;
}

#leftside ul {
  list-style-type: none;
}

#leftside ul li {
  margin: .5em 0;
}

a {
  color: black;
}

a:visited {
  color: indianred;
}

a:hover, a:focus {
  color: crimson;
}

#rightside {
  padding: 1em;
  float: right;
  margin-right: .15em;
  min-height: 100%;
  width: 13.027%;
}

section {
  min-height: 100%;
  margin-left: 24.136%;
  margin-right: 17.268%;
  padding: .5rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

section h1, section h2 {
  margin-bottom: .25rem;
}

section p {
  padding-bottom: .25em;
}

section img {
  float: right;
  max-height: 10%;
  max-width: 10%;
  margin: .25em;
}

section a {
  font-weight: bold;
  color: red;
}

#subs {
  margin-top: 1em;
  border-top: 2px solid black;
}

#subs tr {
  border: 2px solid black;
  border-collapse: collapse;
  background-color: #dbdbdb;
}

#subs #head {
  background-color: black;
  color: white;
  font-weight: bold;
}

#subs th, #subs td {
  padding: .5em;
}

footer {
  color: black;
  font-size: 80%;
  text-align: center;
  border-top: 3px solid black;
  background-color: lightgrey;
  padding: 1em;
  clear: both;
}