/*Reset selector*/
* {
  margin: 0;
  padding: 0;
}

html {
   font-family: sans-serif;
   background-color: #4c4c4c;
}

body {
  width: 95%;
  background-color: white;
  border: 2px solid black;
  margin: 0 auto;
  min-width: 625px;
} 

header {
  border-bottom: 2px solid black;
  padding: 1em;
  position: relative;
  background-color: lemonchiffon;
}

header h2 {
  font-size: 175%;
}

header h3 {
  font-style: italic;
}

header h2 a {
  text-decoration: none;
  color: black;
}

header h2 a:hover, header h2 a:focus {
  text-decoration: none;
  color: grey;
}

header h2 a:visited {
  color: black;
}

header .hotbar a {
  float: right;
  max-height: 8%;
  max-width: 8%;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .25em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.hotbar {
  position: absolute;
  right: 10px;
  top: 0;
  max-height: 100%;
  max-width: 100%;
}

header .hotbar img {
  float: right;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: .25em;
}

nav {
  height: 50px;
}

nav ul {
  list-style-type: none;
  position: relative;
  width: 100%;
}

nav ul li {
  float: left;
  width: 20%;
  max-height: 50px;
}

nav ul li a {
  display: block;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1em 0;
}

nav ul li a:hover, nav ul li a:focus {
  background-color: grey;
  color: white;
}

nav a:visited {
  color: white;
}

nav ul li:hover > .within {
  display: block;
}

.within {
  display: none;
  position: absolute;
}

.within li {
  float: none;
}

#rightside {
  padding: 1em;
  float: right;
  min-height: 100%;
  width: 35%;
}

a {
  color: black;
}

a:visited {
  color: indianred;
}

a:hover, a:focus {
  color: crimson;
}

section {
  min-height: 100%;
  margin-right: 37.5%;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  border-right: 2px solid black;
}

section h1, section h2 {
  margin-bottom: .25em;
  
}

/* the styles for the form */
fieldset {
    margin-bottom: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
}
legend {
    color: firebrick;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: .5em;
}
label {
    float: left;
    width: 12em;
    text-align: right;
}
label, input, select {
	font-size: 95%;
}
input, select {
    width: 15em;
    margin-left: .5em;
    margin-bottom: .5em;
}
input:required, input[required] {
  border: 2px solid #800000;
}
input:valid {
	border: 1px solid black;
}
input:invalid {
  border: 2px solid #800000;
	box-shadow: none;
}
br {
    clear: both;
}
#buttons input {
	width: 10em;
}

#money label {
  clear: both;
}

#money input {
  width: auto;
  margin-left: 3em;
  clear: both;
}

#month {
  width: 7em;
}

#year {
  width: 5em;
}


section a {
  font-weight: bold;
  color: red;
}

#subs {
  margin-top: 1em;
  border-top: 2px solid black;
}

#subs tr {
  border: 2px solid black;
  border-collapse: collapse;
  background-color: #dbdbdb;
}

#subs #head {
  background-color: black;
  color: white;
  font-weight: bold;
}

#subs th, #subs td {
  padding-left: .15em;
  padding-right: .15em;
  padding-top: .5em;
  padding-bottom: .5em;
}

footer {
  color: black;
  font-size: 80%;
  text-align: center;
  border-top: 3px solid black;
  background-color: lightgrey;
  padding: 1em;
  clear: both;
}